<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <a class="navbar-brand" href="/">
        <span class="glyphicon glyphicon-home" aria-hidden="true"><!----></span>
      </a>
        <ul class="nav navbar-nav">
          <li><a href="/golang/index.md">golang</a></li>
          <li><a href="/grpc/index.md">grpc</a></li>
          <li><a href="/docker/index.md">docker</a></li>
          <li><a href="/database/index.md">database</a></li>
          <li><a href="/messaging/index.md">messaging</a></li>
          <li><a href="/vue/index.md">vue</a></li>
          <li><a href="/ios/index.md">ios</a></li>
          <li><a href="/android/index.md">android</a></li>
        </ul>
    </div>
  </div>
</nav>
